
body {
    background: #686231;
    font-family: Arial;
}
h1 {
    color: red;
}
/* 4S6QYR8Z5QU8k574Z45HtqLfbdhE5qNpfSDQs10QG5HtHeRYIVuD7fT6vv6O1nPkuklvkLqBAEIcpLbz9n8jQYPUHj2tdODmvcMv1vjdQ12gmzI8ny8JloMUJHiHlGloWh496K68rCOaF10W7GVQI675z0F6Eg9KxDPKxiWzH4jHkGahZFsyf0fuPAHUZXCzLu5QbnA6 */
